.nav-bar{
    background-color: #F2F2F2;
    overflow: hidden;
}
.nav-bar a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
body {
    text-align: center;
    background:honeydew;
}
a {
    color: black;
}
.projects-style{
    text-align: center;
}
button {
    text-align: center;
}
.footer{
    background-color: #F2F2F2;
    overflow: hidden;
}

.footer a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.content {
    padding: 16px;
}
.sticky + .content {
    padding-top: 60px;
}